:root {
  --cor-fundo: #131212;
  --cor-texto-principal: #fdfdfdee;
  --cor-destaque: #f3652b;
  --cor-botao-fundo: #f3652b;
  --cor-botao-texto: #f3652b;
}

body {
  padding: 0;
  margin: 0;
  background: var(--cor-fundo);
  font-family: sans-serif;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--cor-texto-principal);
  max-width: 1000px;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--cor-destaque);
  position: relative;
  align-items: center;
}

h3::after {
  content: 'Edge Computing!';
  display: inline-block;
  background: var(--cor-destaque);
  color: #000000;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  cursor: pointer;
}

h3:hover::after {
  background: #f2581b;
  cursor: pointer;
}

h4 {
  font-size: 1rem;
  text-align: center;
  max-width: 1000px;
  align-items: center;
}

a {
  display: block;
  border-radius: 0.5rem;
  border: 2px solid var(--cor-botao-fundo);
  color: var(--cor-botao-texto);
  padding: 1.5rem;
  text-decoration: none;
  margin-right: 0;
  margin-bottom: 1.5rem;
  max-width: 280px;
  min-width: 100px;
  text-align: center;
}

a:last-child {
  margin-right: 0;
}

a:hover {
  background: var(--cor-botao-fundo);
  color: #000000;
  border: 2px solid #000000;
}

p {
  margin: 0;
  font-size: 0.9rem;
  text-align: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: calc(100vh - 4rem);
}

.header {
  margin-right: auto;
  display: block;
}

.content {
  display: flex;
  color: #ffffff;
  margin-top: 50px;
}

.article {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

.article h1 {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
}

@media only screen and (min-width: 576px) {
  section {
    padding: 6rem;
    min-height: calc(100vh - 12rem);
  }

  .article {
    flex-direction: row;
    margin-bottom: 30px;
  }

  a {
    margin-right: 2.5rem;
    margin-bottom: 0;
    text-align: left;
    color: var(--cor-destaque);
  }

  .CardIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .footer-wrap {
    display: flex;
  }



}